on:
  workflow_call:
    inputs:
      build-tool:
        type: string
        required: false
        default: poetry
      build-tool-version:
        type: string
        required: false
      cache-enabled:
        required: false
        type: boolean
        default: true
      cache-key-suffix:
        required: false
        type: string
      check-lockfile-exists:
        required: false
        type: boolean
        default: true
      python-version:
        required: true
        type: string
      type-checker:
        type: string
        required: false
        default: mypy
      debian-version:
        required: false
        type: string
        default: bookworm
      context-path:
        required: false
        type: string
        default: src/

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    container: python:${{ inputs.python-version }}-slim-${{ inputs.debian-version }}
    env:
      # renovate: datasource=pypi depName=pipx
      PIPX_VERSION: "==1.8.*"
      # renovate: datasource=pypi depName=poetry versioning=semver-coerced
      POETRY_VERSION: "2.2.1"
      # renovate: datasource=pypi depName=uv versioning=semver-coerced
      UV_VERSION: "0.9.12"
    steps:
      - run: |
          pip install "pipx${PIPX_VERSION}"
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
        if: inputs.build-tool == 'poetry'
      - run: pipx install poetry==${{ inputs.build-tool-version || env.POETRY_VERSION }}
        if: inputs.build-tool == 'poetry'
      - uses: actions/checkout@v6
      - name: Install uv
        if: inputs.build-tool == 'uv'
        uses: astral-sh/setup-uv@v7
        with:
          cache-suffix: ${{ inputs.cache-key-suffix }}
          enable-cache: ${{ inputs.cache-enabled }}
          version: ${{ inputs.build-tool-version || env.UV_VERSION }}
      - run: poetry install --all-extras --no-interaction --no-ansi
        if: inputs.build-tool == 'poetry'
      - run: uv sync --all-extras
        if: inputs.build-tool == 'uv'
      - name: Print deprecation warning
        if: inputs.type-checker != 'mypy'
        env:
          WARNING_TEXT: |
            ## Deprecation warning
            
            The type-checker parameter is deprecated. Use mypy or nothing.
        run: |
          printenv WARNING_TEXT >> "$GITHUB_STEP_SUMMARY"
      - name: Check coding standards
        run: |
          ${{ inputs.build-tool }} run ruff format --check ${{ inputs.context-path }}
          ${{ inputs.build-tool }} run ruff check ${{ inputs.context-path }}
          ${{ inputs.build-tool }} run ${{ inputs.type-checker }} ${{ inputs.context-path }}

  poetry-check:
    runs-on: ubuntu-24.04
    if: inputs.build-tool == 'poetry'
    container: python:${{ inputs.python-version }}-slim-${{ inputs.debian-version }}
    env:
      # renovate: datasource=pypi depName=pipx
      PIPX_VERSION: "==1.8.*"
      # renovate: datasource=pypi depName=poetry versioning=semver-coerced
      POETRY_VERSION: "2.2.1"
    steps:
      - run: |
          pip install "pipx${PIPX_VERSION}"
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
      - run: pipx install poetry==${{ inputs.build-tool-version || env.POETRY_VERSION }}
      - uses: actions/checkout@v6
      - run: poetry check --strict ${{ (inputs.check-lockfile-exists && '--lock') || '' }}
