on:
  workflow_call:
    inputs:
      build-tool:
        type: string
        required: false
        default: poetry
      build-tool-version:
        type: string
        required: false
      cache-enabled:
        required: false
        type: boolean
        default: true
      cache-key-suffix:
        required: false
        type: string
      python-version:
        required: true
        type: string
      debian-version:
        required: false
        type: string
        default: bookworm
      submit-coverage:
        required: false
        type: boolean
        default: false
      tests-location:
        required: false
        type: string
      tests-selector:
        required: false
        type: string
    secrets:
      ENVIRONMENT_VARIABLES:
        required: false
      CODECOV_TOKEN:
        required: false

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    container: python:${{ inputs.python-version }}-slim-${{ inputs.debian-version }}
    env:
      # renovate: datasource=pypi depName=pipx
      PIPX_VERSION: "==1.8.*"
      # renovate: datasource=pypi depName=poetry versioning=semver-coerced
      POETRY_VERSION: "2.2.1"
      # renovate: datasource=pypi depName=uv versioning=semver-coerced
      UV_VERSION: "0.9.8"
    steps:
      - run: |
          pip install "pipx${PIPX_VERSION}"
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
        if: inputs.build-tool == 'poetry'
      - run: pipx install poetry==${{ inputs.build-tool-version || env.POETRY_VERSION }}
        if: inputs.build-tool == 'poetry'
      - uses: actions/checkout@v5
      - name: Install uv
        if: inputs.build-tool == 'uv'
        uses: astral-sh/setup-uv@v7
        with:
          cache-suffix: ${{ inputs.cache-key-suffix }}
          enable-cache: ${{ inputs.cache-enabled }}
          version: ${{ inputs.build-tool-version || env.UV_VERSION }}
      - run: poetry install --all-extras --no-interaction --no-ansi
        if: inputs.build-tool == 'poetry'
      - run: uv sync --all-extras
        if: inputs.build-tool == 'uv'
      - name: Export secrets as environment
        env:
          INPUT_VARS: ${{ secrets.ENVIRONMENT_VARIABLES }}
        shell: bash
        run: |
          if [ -z "$INPUT_VARS" ]
          then
            echo "No env vars given."
            exit 0
          fi
          
          while IFS= read -r line
          do
            if [ -n "$line" ]
            then
              echo "::add-mask::$line"
              value=$(echo "$line" | cut -d"=" -f2-)
              echo "::add-mask::$value"
          
              echo "$line" >> "$GITHUB_ENV"
            fi
          done <<< "$INPUT_VARS"
      - name: Run tests
        run: ${{ inputs.build-tool }} run pytest ${{ inputs.tests-selector && format('-m "{0}"', inputs.tests-selector) || '' }} ${{ inputs.submit-coverage && '--cov --junitxml=junit.xml' || '' }} ${{ inputs.tests-location }}
      - name: Convert Python coverage file format to XML
        if: inputs.submit-coverage
        run: ${{ inputs.build-tool }} run coverage xml
      - name: Store coverage artifact
        if: inputs.submit-coverage
        uses: actions/upload-artifact@v5
        with:
          name: test-coverage
          path: |
            ./coverage.xml
            ./junit.xml
          overwrite: true

  upload-coverage-report:
    runs-on: ubuntu-24.04
    needs: [ test ]
    if: inputs.submit-coverage
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        with:
          name: test-coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          disable_search: true
          fail_ci_if_error: true
          files: ./coverage.xml
      - name: Upload test results to Codecov
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          disable_search: true
          fail_ci_if_error: true
          files: ./junit.xml
